body{
	background-color: grey;
	width: 1200px;
	margin: 0;
	padding:0;
	box-sizing: border-box;
}
.myForm{
	width: 150px;
	height: 150px;
	background-color: white;
	display: block;
	padding: 20px;
	margin: 0 auto;
	margin-top: 200px;
}

.login,.reg{
	text-decoration: none;
	color: azure;
	display: inline-block;
	margin: 10px;
}

label{
	font-size: 10px;
	font-weight: 600;
	color: lightslategrey;
}
.bx_label{
	font-size: 10px;
	color: lightslategrey;
	float: left;
}
button{
	background-color: aqua;
	float: right;
}

.myForm2{
	display: none;
	width: 150px;
	height: 300px;
	background-color: white;
	padding: 20px;
	margin: 0 auto;
	margin-top: 200px;
}