*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
body{
	width: 1200px;
}
.myForm{
	margin-top: 100px;
	width: 300px;
	display: block;
	border:1px solid black;
	border-radius: 5px ;
	padding: 20px;
	margin: 0 auto;
}
p{
	padding: 5px;
}
.sbmt{
	display: block;
	margin: 0 auto;
}
input,select{
	float: right;

}
span{
color:red;
}
input:hover,select:hover,#submit:hover{
	box-shadow: 0px 0px 7px 1px rgba(101,147,168,1);
}